$bg-blue: hsl(222, 26%, 31%);
$cals-bg-blue: hsl(224, 35%, 15%);
$bg-blue: hsl(225, 21%, 49%);
$shadow-blue: hsl(224, 28%, 35%);
$red: hsl(6, 63%, 50%);
$shadow-red: hsl(6, 70%, 34%);
$off-white: hsl(30, 25%, 89%);
$shadow-white: hsl(28, 16%, 65%);

