div {
  margin: 1rem;
  padding-inline: 2em;
  border: 2px solid red;
  display: inline-block;
}
/* .btn {
  color: rgb(134, 134, 210);
  background-color: darkblue;
  padding: 1em;
} */
.hide {
  visibility: hidden;
}
