$bg-color: blue;
*{
    margin: 0;
}
h1{
    font-size: 3rem;
    color: red;
}
body{
    width: 100%;
    height: 50vh;
}
.main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

    > .item-div{
    width: 20%;
    height: 5%;
    background-color: green;
    border: 3px solid red;
    text-align: center;
    
    &:hover{
        background-color: $bg-color;
    }
    }
    &S:nth-child(3){
        order: 1;
    }
}

@mixin space-around-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;

    > div{
        width: 15%;
        height: 5%;
        border: 2px solid orange;
        margin: 2%;
    
    &:hover{
        background-color: $bg-color
    }
}

}

.main-div-2{
    @include space-around-div()
}