body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
}

.grid-item {
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom right, #a313eb, #5ee938);
}
.hide {
  opacity: 0;
}
